.about p {
    line-height: 1.5em;
}

.about em {
    font-weight: bold;
}

.about p:last-child {
    padding: 1em 0 0 0;
}

.disclaimer div {
    width: 640px;
    margin: 0 auto;
}

.disclaimer li{
    margin-top: 1em;
}

.item {
    width: 60%;
    margin: 1em 0;
    display: inline-block;
    vertical-align: top;
    line-height: 1.5em;
}

.item::before {
    font-weight: bold;
    content: "✻  ";
    color: #000;
}

.item-img {
    width: 30%;
    margin: 0 5%;
    display: inline;
}

.wiki p {
    margin-bottom: 2em;
}

.wiki a {
    text-decoration: none;
    color: #000;
}

.wiki li {
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    margin-left: 7%;
    border: #000 solid 2px;
    border-radius: 10px;
    padding: 2em;
    transition: 500ms;
}

.wiki li:hover {
    background-color: rgb(5, 53, 5);
}

.wiki-img {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    border: #000 solid 1px;
    border-radius: 5px;
    background-color: #fefefe;
    transition: 750ms;
}

.wiki li:hover img {
    background-color: rgb(210, 255, 190);
    transform: scale(1.1);
    border: #fefefe;
}

.wiki li:active img {
    background-color: #fefefe;
    transition: 250ms;
    transform: scale(1);
    border: #fefefe;
}

.wiki li p {
    text-align: center;
    margin: 2em;
    font-weight: bold;
}

.wiki li:hover p {
    transition: 500ms;
    color: #fefefe;
}

.questions {
    margin: .5em 0;
    font-size: 18px;
}

.questions li {
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

.questions li>p:first-child {
    font-weight: bold;
    margin-bottom: .5em;
}

.map, .map-frame{
    width: 640px;
    margin: 0 auto;
    height: 400px;
    border-radius: 8px;
}