body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body p {
    margin: 0 4em
}

section {
    padding: 2em 0;
}

h2 {
    font-size: 2em;
    padding: 0 0 1em 1em;
    color: #FF2C08;
    font-weight: bold;
    text-shadow: 2px 2px 6px #0006;
}